body *
{margin: 0;
padding: 0;
box-sizing: border-box;}

:root
{--text-color: white;
--bg-url:url(./assets/assets/bg-mobile.jpg.jpg);
--stroke-color: rgba(255, 255, 255, 0.05);
--surface-color:rgba(255, 255, 255, 0.01);
--surface-color-hover:  rgba(255, 255, 255, 0.2);
--highlight-color: rgba(255, 255, 255, 0.2);
--switch-bg-url:url(./assets/assets/moon-stars.svg);}

.light
{--text-color: black;
--bg-url: url(./assets/assets/bg-mobile-light.jpg);
--stroke-color: rgba(0, 0, 0, 0.05);
--surface-color:rgba(0, 0, 0, 0.05);
--surface-color-hover: rgba(0, 0, 0, 0.2);
--highlight-color: rgba(0,0,0, 0.1);
--switch-bg-url:url(./assets/assets/sun.svg);}

body
{background: var(--bg-url) no-repeat top center/cover;}

body * 
{font-family: 'Inter', sans-serif;
color:var(--text-color);}


#container
{width: 360px;
padding: 0 24px;
margin: 56px auto 0px;}

#profile
{text-align: center;
padding: 24px;}

#profile img
{width: 112px;}

#profile p 
{font-weight: 500;
line-height: 24px;}



#switch
{position: relative;
width: 64px;

margin: 20px auto;}


#switch button
{width: 32px;
height: 32px;
background: white var(--switch-bg-url)  no-repeat center;
border: 0;
border-radius: 50%;

position: absolute;
top: 50%;
right: 100;
z-index: 1;
transform: translateY(-50%);}


#switch span
{display: block;
width: 64px;
height: 24px;
background: var(--surface-color);
border: 1px solid var(--stroke-color);
backdrop-filter: blur(4px);
-webkit-backdrop-filter: blur(4px);
border-radius: 9999px;}

.light #switch button
{left: initial;
 right: 0;}

.light #switch span
{border: 0.5px solid black;}



ul
{list-style: none;
display: flex;
flex-direction: column;
gap: 16;
;}

ul li a
{display: flex;
align-items: center;
justify-content: center;
margin: 8px;
padding: 16px 24px;
background: var(--surface-color);
border: 1px solid var(--text-color);
border-radius: 8px;
-webkit-backdrop-filter: blur(4px);
backdrop-filter: blur(4px);
text-decoration: none;
font-weight: 500;
transition: background0.2s;}

ul li a:hover
{background: var(--surface-color-hover);
    border: 2px solid var(--text-color);
padding: 24px 0;
padding: 24px 0;
}


#social_links 
{display: flex;
gap: 32px;
font-size: 24px;
padding: 24px 0;
justify-content: center;
transition:background 0.2s;}

#social_links :hover
{background: var(--surface-color-hover);
padding: 16px;
border: 2px;
border-radius: 50%;}

footer
{padding: 24px;
text-align: center;
font-size: 14px;}